body{
    margin: 0;
    padding: 0;
    width: 1000px;
}
.header{
    background-image: url(images/bgheader.png);
    height: 60px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #70668b;
}
.content{

}
.footer{

}

/*a block with header*/
.header__content{

}
.header__logo{
    float: left;
    display: inline-block;
    margin-left: 31px;
    margin-right: 116px;
}
.header__logo img{
    margin-top: 22px;

/*    display: inline-block;*/
}
.menu_list{
    display: inline-block;
    padding-inline-start: 0px;
}
.header__menu{
    float: left;
    display: inline-block;
}
.menu-nav{
    display: inline-block;
}
.menu_list{
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 18px;
}
.menu-nav-item{
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
    color: #fff;
}
/*
.item-home{
    margin-right: 58px;
}
*/

.header__follow{
    float: right;
    display: inline-block;
    margin-right: 43px;

}
.follow-list{
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 14px;
}
.follow-list-item{
    display: inline-block;
    height: 30px;

}
/*
hr{
    padding: 0;
    margin: 0;
    color: #70668b;
}
*/
/*a block with context*/

.content__banner{
    background: url(images/bgbanner.png);
    height: 490px;
}
.content__text{
    width: 538px;
    height: 196px;
    margin: 0 auto;
    text-align: center;
    padding-top: 128px;

}
.content__border{
    border: 1px solid #fff;
}
.content__title{
    font: 48px arial;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
/*    box-sizing: border-box;*/
}
.context__descriptions{
    font: 10px arial;
    color: #fff;
    text-align: center;
}
.context__descriptions p{
    margin: 0;
}
.first-p{
    padding-bottom: 12px;
}
.second-p{
    padding-bottom: 58px;
}
