body{
    margin: 0;
    padding: 0;
    width: 1000px;
}
.header{
    background-image: url(images/bgheader.png);
    height: 60px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #70668b;
}
.content{

}
.footer{

}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

/*a block with header*/
.header__content{

}
.header__logo{
    float: left;
    display: inline-block;
    margin-left: 31px;
    margin-right: 116px;
}
.header__logo img{
    margin-top: 22px;

/*    display: inline-block;*/
}
.menu_list{
    display: inline-block;
    padding-inline-start: 0px;
}
.header__menu{
    float: left;
    display: inline-block;
}
.menu-nav{
    display: inline-block;
}
.menu_list{
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 18px;
}
.menu-nav-item{
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
    color: #fff;
}
/*
.item-home{
    margin-right: 58px;
}
*/

.header__follow{
    float: right;
    display: inline-block;
    margin-right: 43px;

}
.follow-list{
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 14px;
}
.follow-list-item{
    display: inline-block;
    height: 30px;

}
/*
hr{
    padding: 0;
    margin: 0;
    color: #70668b;
}
*/
/*a block with context*/

.content__banner{
    background: url(images/bgbanner.png);
    height: 490px;
}
.content__text{
    width: 538px;
    height: 196px;
    margin: 0 auto;
    text-align: center;
    padding-top: 128px;

}
.content__border{
    border: 1px solid #fff;
}
.content__title{
    font: 48px arial;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
/*    box-sizing: border-box;*/
}
.context__descriptions{
    font: 10px arial;
    color: #fff;
    text-align: center;
}
.context__descriptions p{
    margin: 0;
}
.first-p{
    padding-bottom: 12px;
}
.second-p{
    padding-bottom: 58px;
}

/*            Блок about         ;*/

.content__about{
    margin: 0;
    padding: 0;
    height: 424px;
}

.content__about-left{
    background: #fff;
    display: inline-block;
    width: 498px;
    float: left;
    height: 424px;
}

.content__about-left img{
    width: 498px;
    height: 424px;
}
.content__about-right{
    background: #fff;
    display: inline-block;
    width: 498px;
    float: left;
}
.content__about-title{

    text-align: left;
    margin-top: 31px;
    margin-left: 43px;
    text-align: left;
    margin-bottom: -10px;
}
.content__about-title{
    font: 24px Arial;
    color: #030303;
}
/*
.content__about-line-short{
    border-bottom: 3px solid black;
    width: 63px;
    margin-left: 43px;
    position: relative;
}
*/
.content__about-line-full{
    border-bottom: 2px solid black;
    width: 391px;
    margin-left: 43px;
    margin-top: 0;
    padding-top: 0;
}
.content__about-text{
    margin-top: 21px;
    margin-left: 44px;
}
.content__about-text p{
margin-top: 0;
}
.about-p1{
    margin-bottom: 24px;
    margin-right: 44px;
}
.about-p2{
    margin-bottom: 34px;
    margin-right: 44px;
}
.about-btn{
    width: 161px;
    height: 24px;
    background: #05a0af;
    margin-left: 43px;
    font: 10px Arial;
    color: #fff;
    border: 1px solid #05a0af;
    border-radius: 2px;
    box-sizing: border-box;
}

/*        Блок Our Service         */

.content__service-title{
    height: 138px;
    background: #373737;
    color: #fff;
    text-align: center;
}
.content__service-title h2{
    margin: 0;
    padding-top: 45px;
    padding-bottom: 45px;
    font: 40px Arial;
}
.content__service-block{
    background: #3d3d3d;
}
.content__service-block ul{
    margin: 0;
    padding-left: 0;
}
.content__service-block-list li{
    list-style: none;
}
.content__service-block-list-item{
    width: 330px;
    height: 554px;
    display: inline-block;
}
.content__service-block-list-item:hover{
    width: 330px;
    height: 554px;
    display: inline-block;
    background: #097e89;
}
.content__service-block-list-item-img{

}
.content__service-block-list-item-img{
    width: 125px;
    height: 74px;
    margin: 0 auto;
    margin-top: 142px;
    margin-bottom: 55px;
}
.content__service-block-list-item-title h2{
    margin: 0 0 20 0;
    color: #fff;
    text-align: center;
    font: 24px Arial;
}
.content__service-block-list-item-text{
    color: #fff;
    text-align: center;
    margin-bottom: 32px;
    padding-left: 24px;
    padding-right: 22px;
}
.content__service-block-list-item-btn{
    text-align: center;
}
.service-btn{
    height: 29px;
    width: 141px;
    background: #959595;
    color: #fff;
    border: 1px solid #959595;
    border-radius: 2px;
    box-sizing: border-box;
    font: 12px Arial;
    cursor: pointer;
}
/*      Блок FEEDBACK     */

.content__feedback-title{
    height: 138px;
    background: #373737;
    text-align: center;
}
.content__feedback-title h2{
    margin: 0;
    padding-top: 45px;
    padding-bottom: 45px;
    font: 40px Arial;
    color: #fff;
}
.content__feedback-block{
    height: 282px;
    background: #3d3d3d;
}
